/** @format */

.nav-container {
  width: 100%;
  height: 4rem;
  padding: 0.6rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
}
.nav-contents {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand {
  width: 150px;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.nav-ul {
  max-width: 40rem;

  .ul-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      padding: 0.6rem 0.5rem;
      margin: 0 1.2rem;
      text-decoration: none;
      color: #003f88;
      list-style: none;
      font-weight: 500;
      letter-spacing: 0.5px;
      opacity: 1;
      transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);

      a {
        text-decoration: none;
        color: #003f88;
      }
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    .service {
      position: relative;

      .service-span {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        .arrow-icon {
          position: relative;
          top: 0.15rem;
          left: 0.1rem;
        }
      }
      .service-dropdown {
        position: absolute;
        width: 400px;
        border: 2px solid rgba(0, 0, 0, 0.027);
        border-radius: 10px;
        padding: 0.8rem;
        height: auto;
        background-color: #fffffff6;

        top: 3.2rem;
        right: 0;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.062);
        animation: an 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .dropdown-ul {
          text-align: right;
          padding-left: 0;
          .li-1 {
            width: 9rem;
            transform-origin: right;
            margin: 0.9rem 0;
            border-bottom: 1px solid #003f8818;
            font-size: 0.88rem;
            &:hover {
              border-bottom: 1px solid #003f886b;
            }
          }
        }
        .dropdown-ul-2 {
          text-align: left;
          padding-left: 0;
          .li-2 {
            width: 9rem;
            padding-left: 0.2rem;
            transform-origin: left;
            margin: 0.9rem 0;
            border-bottom: 1px solid #003f8818;
            font-size: 0.88rem;
            &:hover {
              border-bottom: 1px solid #003f886b;
            }
          }
        }
      }
    }
    @keyframes an {
      0% {
        opacity: 0;
        transform: translateY(15px);
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .nav-upload {
      padding: 0.5rem 1.1rem;
      background-color: #003f88;
      color: white;
      width: 7rem;
      text-align: center;
      border-radius: 20px;
    }
    &:hover li:not(:hover) {
      opacity: 0.75;
    }
  }
}
